@CHARSET "ISO-8859-1";

	#message
	{
		height:300px;
		width:80%;
	}
	

@media (min-width: 1200px) {
	#message
	{
		height:300px;
		width:40%;
	}
}
@media (min-width: 1500px) {
	#message
	{
		height:300px;
		width:40%;
	}
}



