@CHARSET "ISO-8859-1";
/* .test img {cursor: pointer;border: 10px solid transparent;} */
/* .test img:hover {border: 10px solid #f1f1f1;} */

@media (min-width: 600px){
  .smallOnly  {display:none;}
  .bntext
  {
    font-size:22px;
  }
}

@media (max-width: 600px){
  .bigOnly  {display:none;}
  .bntext
  {
    font-size:14px;
  }
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


