@CHARSET "ISO-8859-1";

.bannerMessage
{
   padding: 6px 16px; 
}

@media (min-width:600px)
{
	#templateBannerHome
	{
   position: fixed;
   top: 50%;
   left: 50%;
   font-size: 24px;
   transform: translate(-50%, -50%);
	/*	z-index: 2;*/
	}
}
	
@media (max-width:600px)
{
	#templateBannerHome
	{
       position: fixed;
       width:100%;
		/*z-index: 2;*/
		TEXT-ALIGN:center;
		font-size: 18px;
		
	}
	

}




