@CHARSET "ISO-8859-1";

	#templateBannerMission
	{
		position: fixed;
		background-color: rgba(255, 255, 255, 0.5);
		color: black;
		border-spacing: 15px;
		padding: 6px 16px;
	}
	


@media (min-width:600px)
{
	#templateBannerMission
	{
   top: 50%;
   left: 50%;
   font-size: 24px;
   transform: translate(-50%, -50%);
   z-index: 2;
   width:80%;
	}
}
	
@media (max-width:600px)
{
	#templateBannerMission
	{
       
       width:100%;
		z-index: 2;
		TEXT-ALIGN:center;
		font-size: 18px;
	}

}

@media (max-width:400px)
{


}

@media (max-height:600px)
{
	#templateBannerMission
	{
		position: relative;
    	top: 275px;
	}
	img
	{
		display:none;
	}
}




