@CHARSET "ISO-8859-1";

/* static navbar for screens below 601px width */
@media (max-width: 600px){
 .w3-dropdown-hover  {width:302px;}
  .menuToToggle 
  {
      display: none;
  }

  #wide
  {
   display:none;
  }
}

@media only screen and (max-width: 601px) 
{
	.w3-top {position:static;}
}

@media (min-width: 601px){
#menuToHide
 {
    display: none;
 }

  #narrow
  {
   display:none;
  }
}