@CHARSET "ISO-8859-1";

.slide-img {
  position: absolute;
  transition: opacity .5s ease-in;
  width: 100%;
  z-index: -1;
  
}

@media (max-width:1000px)
{
.slide-img {
  width:auto;
  height: 100%;
  text-align:center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

}


.slide-img + .slide-img { opacity: 0; }



