@CHARSET "ISO-8859-1";

.team-img {
 /* display: block;*/
  width:400px;
  height:300px;
  cursor:pointer;

}

h2
{
  font-size:20px;
}

 .teamPic
 {
    display: inline-block;
 }

@media (max-width:1100px)
{
/*  .team-img {
    width:100%;
    height:auto;
  }  */
}


@media (max-width:600px)
{
  .team-img {
    width:100%;
    height:auto;
  }  
  
   .slidingDiv
 {
   position:inherit !important;
   display:block !important;
 }
 .w3-dropdown-content
 {

 }
}

@media (min-width:601px)
{
   .teamPic
 {
    width: 500px;
    height: 350px;
    margin: 10px;
 }
}



